Ass5/Presentation/Ass5.UI.Process/Service References/TaskService/TaskService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Ass5.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Ass5.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2311/TaskService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Task">
    <xs:sequence>
      <xs:element minOccurs="0" name="CorrelationID" type="ser:guid" />
      <xs:element minOccurs="0" name="DateSubmitted" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TaskID" type="xs:int" />
      <xs:element minOccurs="0" name="TaskName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaskNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaskStatus" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Task" nillable="true" type="tns:Task" />
  <xs:complexType name="ArrayOfTask">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Task" nillable="true" type="tns:Task" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTask" nillable="true" type="tns:ArrayOfTask" />
  <xs:complexType name="TaskLog">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateSubmitted" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TaskID" type="xs:int" />
      <xs:element minOccurs="0" name="TaskLogID" type="xs:int" />
      <xs:element minOccurs="0" name="TaskName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaskNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaskStatus" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaskLog" nillable="true" type="tns:TaskLog" />
</xs:schema>