Ass5/Presentation/Ass5.UI.Process/Service References/TaskService/TaskService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2311/TaskService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Ass5.Entities" />
  <xs:import schemaLocation="http://localhost:2311/TaskService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MK.Framework.ACE.Entities" />
  <xs:element name="Export">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Ass5.Entities" minOccurs="0" name="GetTaskResult" nillable="true" type="q1:Task" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserPermission">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:long" />
        <xs:element minOccurs="0" name="policyId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserPermissionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MK.Framework.ACE.Entities" minOccurs="0" name="GetUserPermissionResult" nillable="true" type="q2:AccessPolicy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListTask">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Ass5.Entities" minOccurs="0" name="ListTaskResult" nillable="true" type="q3:ArrayOfTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginVerify">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginVerifyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MK.Framework.ACE.Entities" minOccurs="0" name="LoginVerifyResult" nillable="true" type="q4:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Ass5.Entities" minOccurs="0" name="task" nillable="true" type="q5:Task" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Ass5.Entities" minOccurs="0" name="taskLog" nillable="true" type="q6:TaskLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Apply">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Ass5.Entities" minOccurs="0" name="task" nillable="true" type="q7:Task" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Ass5.Entities" minOccurs="0" name="ApplyResult" nillable="true" type="q8:Task" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Approve">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Ass5.Entities" minOccurs="0" name="task" nillable="true" type="q9:Task" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApproveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Cancel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Ass5.Entities" minOccurs="0" name="task" nillable="true" type="q10:Task" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Delay">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Ass5.Entities" minOccurs="0" name="task" nillable="true" type="q11:Task" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelayResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Reject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Ass5.Entities" minOccurs="0" name="task" nillable="true" type="q12:Task" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RejectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>