Ass5/Presentation/Ass5.UI.Process/Service References/TaskWebflowService/TaskWorkflowService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TaskWorkflowService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2311/TaskWorkflowService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2311/TaskWorkflowService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2311/TaskWorkflowService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Ass5.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITaskWorkflowService_Apply_InputMessage">
    <wsdl:part name="parameters" element="tns:Apply" />
  </wsdl:message>
  <wsdl:message name="ITaskWorkflowService_Apply_OutputMessage">
    <wsdl:part name="parameters" element="tns:ApplyResponse" />
  </wsdl:message>
  <wsdl:message name="ITaskWorkflowService_Approve_InputMessage">
    <wsdl:part name="parameters" element="tns:Approve" />
  </wsdl:message>
  <wsdl:message name="ITaskWorkflowService_Approve_OutputMessage" />
  <wsdl:message name="ITaskWorkflowService_Reject_InputMessage">
    <wsdl:part name="parameters" element="tns:Reject" />
  </wsdl:message>
  <wsdl:message name="ITaskWorkflowService_Reject_OutputMessage" />
  <wsdl:message name="ITaskWorkflowService_Cancel_InputMessage">
    <wsdl:part name="parameters" element="tns:Cancel" />
  </wsdl:message>
  <wsdl:message name="ITaskWorkflowService_Cancel_OutputMessage" />
  <wsdl:message name="ITaskWorkflowService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="ITaskWorkflowService_Update_OutputMessage" />
  <wsdl:portType name="ITaskWorkflowService">
    <wsdl:operation name="Apply">
      <wsdl:input wsaw:Action="http://tempuri.org/ITaskWorkflowService/Apply" message="tns:ITaskWorkflowService_Apply_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITaskWorkflowService/ApplyResponse" message="tns:ITaskWorkflowService_Apply_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Approve">
      <wsdl:input wsaw:Action="http://tempuri.org/ITaskWorkflowService/Approve" message="tns:ITaskWorkflowService_Approve_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITaskWorkflowService/ApproveResponse" message="tns:ITaskWorkflowService_Approve_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Reject">
      <wsdl:input wsaw:Action="http://tempuri.org/ITaskWorkflowService/Reject" message="tns:ITaskWorkflowService_Reject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITaskWorkflowService/RejectResponse" message="tns:ITaskWorkflowService_Reject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Cancel">
      <wsdl:input wsaw:Action="http://tempuri.org/ITaskWorkflowService/Cancel" message="tns:ITaskWorkflowService_Cancel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITaskWorkflowService/CancelResponse" message="tns:ITaskWorkflowService_Cancel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/ITaskWorkflowService/Update" message="tns:ITaskWorkflowService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITaskWorkflowService/UpdateResponse" message="tns:ITaskWorkflowService_Update_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="basicHttpTaskWorkflowService" type="tns:ITaskWorkflowService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Apply">
      <soap:operation soapAction="http://tempuri.org/ITaskWorkflowService/Apply" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Approve">
      <soap:operation soapAction="http://tempuri.org/ITaskWorkflowService/Approve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reject">
      <soap:operation soapAction="http://tempuri.org/ITaskWorkflowService/Reject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Cancel">
      <soap:operation soapAction="http://tempuri.org/ITaskWorkflowService/Cancel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/ITaskWorkflowService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TaskWorkflowService">
    <wsdl:port name="basicHttpTaskWorkflowService" binding="tns:basicHttpTaskWorkflowService">
      <soap:address location="http://localhost:2311/TaskWorkflowService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>